<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>App</title>
</head>
<body>
<div>
    <button onclick="sendDeleteRequest()">Отменить регистрацию</button>

    <script>
        function sendDeleteRequest() {
            fetch('/api/user/delete/{{id}}', { method: 'DELETE' })}
    </script>
</div>

{{ message }}
</body>
</html>
